# This is a basic workflow to help you get started with Actions

name: benchmark-12
on:
  push:
    branches: [master]
  workflow_dispatch:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x]
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: install
        run: npm ci
      - name: "Benchmark"
        run: npm run test:benchmark
