# This is a basic workflow to help you get started with Actions

name: lint
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
      - name: install
        run: npm ci
      - name: Lint
        run: npm run lint
