# This is a basic workflow to help you get started with Actions

name: publish
on:
  push:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 10.x
        uses: actions/setup-node@v1
        with:
          node-version: 10.x
      - name: install
        run: npm ci
      - name: "Test & Publish"
        run: npm run test:coverage
      - name: Publish to npm
        uses: pascalgn/npm-publish-action@1.3.3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
